<div class="flex flex-col items-center justify-center" style="height: calc(100vh - 66px * 2);">
    <div [ngStyle]="{'display': (!showCaptainsState) ? 'flex' : 'none'}" class="flex-col items-center justify-center">
        <div class="mt-16 mb-8">
          <h1 *ngIf="!authService.userLoggedIn" class="mb-12 text-center">Sign in to your account to play!</h1>
          <h1 *ngIf="authService.userLoggedIn" class="mb-12 text-center">Press PLAY to start searching for a match.</h1>
        </div>
        <button #mmButton class="uppercase pt-8 pb-8 pl-12 pr-12 mt-8 mb-16 font-bold text-8xl text-white" mat-flat-button
          color="primary" (click)="showCaptains()" [disabled]="!authService.userLoggedIn">
          <mat-spinner *ngIf="spinSpinner" diameter="50" color="primary"></mat-spinner>
          <span *ngIf="!spinSpinner">p l a y</span>
        </button>
    </div>
    <div [ngStyle]="{'display': (showCaptainsState) ? 'block' : 'none'}">
        <div class="grid grid-cols-2 auto-rows-fr gap-8 align-middle justify-center ml-40 mr-40">
            <div class="bg-cyan-100 rounded-xl border-4 border-black"><app-captain-tile (click)="startMatchmaking('blackbeard')" class="grid-cols-1 cursor-pointer" [captainImagePath]="blackbeardImgPath" [captain]="blackbeard"></app-captain-tile></div>
            <div class="bg-cyan-100 rounded-xl border-4 border-black"><app-captain-tile (click)="startMatchmaking('captainnemo')" class="grid-cols-1 cursor-pointer" [captainImagePath]="captainNemoImgPath" [captain]="captainNemo"></app-captain-tile></div>
            <div class="bg-cyan-100 rounded-xl border-4 border-black"><app-captain-tile (click)="startMatchmaking('captainnoahstormbreaker')" class="grid-cols-1 cursor-pointer" [captainImagePath]="captainNoahStormbreakerImgPath" [captain]="captainNoahStormbreaker"></app-captain-tile></div>
            <div class="bg-cyan-100 rounded-xl border-4 border-black"><app-captain-tile (click)="startMatchmaking('captainleohawk')" class="grid-cols-1 cursor-pointer" [captainImagePath]="captainLeoHawkImgPath" [captain]="captainLeoHawk"></app-captain-tile></div>
        </div>
    </div>
</div>
