<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="mr-2">public</mat-icon>
            Global ranking
        </ng-template>
        <!-- Paginator with mat-table -->
        <div class="flex flex-col items-center" style="height: calc(100vh - 66px * 2);">
            <mat-table [dataSource]="playerData">
                <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef class="justify-center">Position</mat-header-cell>
                    <mat-cell *matCellDef="let e" class="justify-center">{{e.id}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef class="justify-center">Username</mat-header-cell>
                    <mat-cell *matCellDef="let e" class="justify-center">{{e.username}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="wins">
                    <mat-header-cell *matHeaderCellDef class="justify-center">Wins</mat-header-cell>
                    <mat-cell *matCellDef="let e" class="justify-center">{{e.userStatistics.numberOfWins}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="losses">
                    <mat-header-cell *matHeaderCellDef class="justify-center">Losses</mat-header-cell>
                    <mat-cell *matCellDef="let e" class="justify-center">{{e.userStatistics.numberOfLosses}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="shipsDestroyed">
                    <mat-header-cell *matHeaderCellDef class="justify-center text-center">Ships Destroyed</mat-header-cell>
                    <mat-cell *matCellDef="let e" class="justify-center">{{e.userStatistics.numberOfLosses}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="hits">
                    <mat-header-cell *matHeaderCellDef class="justify-center text-center">Hits</mat-header-cell>
                    <mat-cell *matCellDef="let e" class="justify-center">{{e.userStatistics.numberOfLosses}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="misses">
                    <mat-header-cell *matHeaderCellDef class="justify-center text-center">Misses</mat-header-cell>
                    <mat-cell *matCellDef="let e" class="justify-center">{{e.userStatistics.numberOfLosses}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="reveals">
                    <mat-header-cell *matHeaderCellDef class="justify-center text-center">Reveals Used</mat-header-cell>
                    <mat-cell *matCellDef="let e" class="justify-center">{{e.userStatistics.numberOfLosses}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="attacks">
                    <mat-header-cell *matHeaderCellDef class="justify-center text-center">Attacks Used</mat-header-cell>
                    <mat-cell *matCellDef="let e" class="justify-center">{{e.userStatistics.numberOfLosses}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="hitstreak">
                    <mat-header-cell *matHeaderCellDef class="justify-center text-center">Longest Hit Streak</mat-header-cell>
                    <mat-cell *matCellDef="let e" class="justify-center">{{e.userStatistics.numberOfLosses}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="['position', 'username', 'wins', 'losses', 'shipsDestroyed', 'hits', 'misses', 'reveals', 'attacks', 'hitstreak']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['position', 'username', 'wins', 'losses', 'shipsDestroyed', 'hits', 'misses', 'reveals', 'attacks', 'hitstreak']"></mat-row>
            </mat-table>
            <mat-paginator [length]="paginatorLength" [pageIndex]="paginatorIndex" #playerPaginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="Personal statistics">
        <ng-template mat-tab-label>
            <mat-icon class="mr-2">person</mat-icon>
            Personal statistics
        </ng-template>
        <!-- Gridlike personal stats -->
        <div *ngIf="!authService.userLoggedIn" class="flex flex-col items-center justify-center" style="height: calc(100vh - 66px * 2);">
            <h1 class="text-center mb-20">You have to sign to view your personal statistics!</h1>
        </div>
        <div *ngIf="authService.userLoggedIn" class="flex flex-col items-center justify-center" style="height: calc(100vh - 66px * 2);">
            
        </div>
    </mat-tab>
</mat-tab-group>